:root {
  --branding-color: #64a36f;
  --secondary-color: #fbfae1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.introduction {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

@media (max-width: 900px) {
  .introduction {
    padding: 80px 20px;
  }
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: bold;
  font-size: 96px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-family: var(--default-font-family);
  font-size: 44px;
  margin: 0;
}

@media (max-width: 900px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}

.about-section {
  padding: 160px 20px;
}

@media (max-width: 900px) {
  .about-section {
    text-align: center;
    padding: 0;
  }
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

@media (max-width: 900px) {
  .about-section h1 {
    font-size: 44px;
  }
  .about-section h3 {
    font-size: 20px;
  }
}

.about-section-content {
  margin: 30px;
}

img {
  vertical-align: middle;
  width: 400px;
  border-radius: 10px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.future-project {
  margin-top: 300px;
}

nav {
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-family: var(--default-font-family);
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
