:root {
  --branding-color: #64a36f;
  --secondary-color: #fbfae1;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.introduction {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

@media (max-width: 900px) {
  .introduction {
    padding: 80px 20px;
  }
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--branding-color);
  font-weight: bold;
  font-size: 96px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.introduction p,
.headline {
  font-family: var(--default-font-family);
  font-size: 36px;
  margin: 0;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

@media (max-width: 900px) {
  h2 {
    font-size: 44px;
  }
}

.project-description {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
